<p id="who">
  <strong>Who:</strong>
  Learners are 32 graduate students, postdocs, and staff at CMU from a variety of disciplines. The main disciplines will be Social Sciences and Biomedical Engineering. They want to learn Python and have been on a waiting list to take this class. They will have a variety of experience programming. For their graduate work, their data will typically be in CSV or Excel spreadsheets (making JSON and SQL less applicable.)
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
